<ion-header>

  
  <ion-toolbar>
    <ion-title style="text-align: center;">Rechercher une traduction</ion-title>
    <ion-fab edge slot="start">
      <ion-fab-button (click)="goBack()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Barre de recherche  -->
  <!-- <ion-toolbar style="margin-top: 30px;">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar> -->

  <iframe id="inlineFrameExample"
  title="Inline Frame Example"
  width="100%"
  height="100%"
  src="https://www.linguee.fr/francais-anglais">
</iframe>


</ion-content>
