<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Paramétrages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="padding-top: 5px;">

  <ion-item-group>

    <ion-item-divider>
      <ion-label>Paramètre généraux</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Dark mode</ion-label>
      <ion-toggle [checked]="darkModeBtn"  slot="end" (ionChange)="toggletheme($event)"></ion-toggle>
    </ion-item>

  </ion-item-group>

  <ion-item-group>

    <ion-item-divider>
      <ion-label>Synchronisation des données</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Envoyer vos données</ion-label>
      <ion-button color="secondary" slot="end" (click)="addDataToFirebase()">Envoyer</ion-button>
    </ion-item>

    <ion-item>
      <ion-label>Récupérer vos données</ion-label>
      <ion-button color="secondary" slot="end" (click)="getDataFromFirebase()">Récupérer</ion-button>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Jeu 1</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Nombre de mot sélectionné</ion-label>
      <ion-button color="secondary" slot="end" (click)="nbWordAlert()"> Nombre : {{ nbWord }}</ion-button>
    </ion-item>
  </ion-item-group>

  <ion-item-group>
    <ion-item-divider>
      <ion-label>Jeu 2</ion-label>
    </ion-item-divider>

    <ion-item>
      <ion-label>Ne fait rien pour l'instant</ion-label>
      <ion-button color="secondary" slot="end"> button</ion-button>
    </ion-item>
  </ion-item-group>



</ion-content>
