<ion-app>

  <!-- <div *ngIf="showSplash" class="container-splash">
      <div id="container-logo">
	
          <a href="#!/page-login">
            <h1 id="titre-logo">OrganEyes</h1>
            <img id="img-logo" src="assets/eyes1.png">
          </a>
        
      </div>
  </div> -->

  <h3 class="titreSplash" *ngIf="showSplash">Chargement ...</h3>
  <ion-spinner *ngIf="showSplash" class="spinner" name="circles"></ion-spinner>

  <ion-router-outlet *ngIf="!showSplash"></ion-router-outlet>
</ion-app>
